# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
provenv/
env/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# Migrations
*/migrations/*.py
!*/migrations/__init__.py

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db