{% extends 'admin_base.html' %}
{% load static %}

{% block title %}
Admin Dashboard
{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block page_subtitle %}Monitor store performance and business insights{% endblock %}
{% block topbar_actions %}

<div class="topbar-actions">

    <a
        href="{% url 'sales_report' %}"
        class="report-btn"
    >
        Sales Report
    </a>

    <button
        class="logout-btn"
        id="openLogoutModal"
    >
        <span class="material-symbols-outlined">
            logout
        </span>

        Logout
    </button>

</div>

{% endblock %}
{% block content %}
<style>



/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:#111;
    padding:20px;
    border-radius:12px;
    border:1px solid #1f2937;
}

.card-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.card small{
    font-size:11px;
    letter-spacing:1px;
    color:#6b7280;
}

.card h2{
    margin-top:12px;
    font-size:28px;
}

.icon{
    font-size:22px;
}

.blue{color:#3b82f6;}
.green{color:#10b981;}
.red{color:#ef4444;}
.purple{color:#a855f7;}

/* CHART BOX */

.chart-box{
    background:#0b0b0b;
    border:1px solid #1f2937;
    border-radius:14px;
    padding:25px;
    margin-bottom:30px;
}

.chart-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.chart-header h3{
    font-size:24px;
}

.chart-header p{
    color:#6b7280;
    font-size:13px;
    margin-top:5px;
}

.chart{
    height:280px;
    display:flex;
    align-items:flex-end;
    gap:12px;
}

.bar{
    flex:1;
    background:#1e293b;
    border-radius:10px 10px 0 0;
}

.bar.active{
    background:linear-gradient(to top,#2563eb,#3b82f6);
}

/* PRODUCT TABLE */

.table-box{
    background:#0b0b0b;
    border:1px solid #1f2937;
    border-radius:14px;
    overflow:hidden;
}

.t-head{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    padding:15px 20px;
    color:#6b7280;
    font-size:12px;
    border-bottom:1px solid #1f2937;
}

.t-row{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    padding:18px 20px;
    align-items:center;
    border-bottom:1px solid #111;
    transition:.2s;
}

.t-row:hover{
    background:#0f172a;
}

.product{
    display:flex;
    align-items:center;
    gap:12px;
}

.product img{
    width:45px;
    height:45px;
    border-radius:10px;
    object-fit:cover;
}

.badge{
    padding:5px 12px;
    border-radius:20px;
    font-size:11px;
    width:fit-content;
}

.badge.green{
    background:#064e3b;
    color:#10b981;
}

.badge.blue{
    background:#172554;
    color:#60a5fa;
}

.badge.purple{
    background:#3b0764;
    color:#c084fc;
}
/* TOPBAR */


/* LOGOUT */

.logout-btn{
    display:flex;
    align-items:center;
    gap:8px;
    background:#111827;
    color:#ef4444;
    padding:10px 16px;
    border-radius:10px;
    text-decoration:none;
    font-size:13px;
    transition:.2s;
    border:0px;
}

.logout-btn:hover{
    background:#7f1d1d;
    color:#fff;
}
/* =========================================
   LOGOUT MODAL
========================================= */

.logout-modal{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.65);

    backdrop-filter:blur(5px);

    display:flex;

    align-items:center;

    justify-content:center;

    opacity:0;

    visibility:hidden;

    transition:.22s ease;

    z-index:999999;
}

/* SHOW */

.logout-modal.show{

    opacity:1;

    visibility:visible;
}

/* BOX */

.logout-modal-box{

    width:390px;

    background:#0b0b0b;

    border:1px solid #1f2937;

    border-radius:22px;

    padding:34px 28px;

    text-align:center;

    transform:scale(.92);

    transition:.22s ease;

    box-shadow:
        0 20px 60px rgba(0,0,0,.45);
}



/* OPEN EFFECT */

.logout-modal.show .logout-modal-box{

    transform:scale(1);
}

/* ICON WRAP */

.logout-icon-wrap{

    width:68px;
    height:68px;

    margin:0 auto 22px;

    border-radius:50%;

    background:rgba(239,68,68,.12);

    display:flex;

    align-items:center;

    justify-content:center;
}

/* ICON */

.logout-icon{

    font-size:34px;

    color:#ef4444;
}
.topbar-actions{
    margin-left:auto;

    display:flex;
    align-items:center;
    gap:12px;
}
/* TITLE */

.logout-modal-box h2{

    font-size:19px;

    line-height:1.4;

    font-weight:700;

    margin-bottom:28px;

    color:#fff;
}

/* BUTTON AREA */

.logout-actions{

    display:flex;

    gap:14px;
}

/* BUTTONS */

.cancel-btn,
.confirm-btn{

    flex:1;

    height:50px;

    border-radius:14px;

    border:none;

    font-size:16px;

    font-weight:600;

    display:flex;

    align-items:center;

    justify-content:center;

    text-decoration:none;

    cursor:pointer;

    transition:.2s ease;
}

/* CANCEL */

.cancel-btn{

    background:#111827;

    border:1px solid #1f2937;

    color:#9ca3af;
}

.cancel-btn:hover{

    background:#1f2937;

    color:#fff;
}

/* CONFIRM */

.confirm-btn{

    background:#2563eb;

    color:#fff;
}

.confirm-btn:hover{

    background:#1d4ed8;
}
.product{
    display:flex;
    align-items:center;
    gap:15px;
}

.product-image{
    width:60px;
    height:60px;

    border-radius:12px;

    overflow:hidden;

    background:#f8fafc;

    border:1px solid #e5e7eb;

    flex-shrink:0;
}

.product-image img{
    width:100%;
    height:100%;

    object-fit:cover;

    display:block;
}

.product span{
    font-size:14px;
    font-weight:600;
}
.header-actions{
    display:flex;
    align-items:center;
    gap:16px;
}

.report-btn{
    background:#2563eb;
    color:#ffffff;
    text-decoration:none;
    padding:14px 28px;
    border-radius:14px;
    font-size:15px;
    font-weight:600;
    transition:0.3s;
}

.report-btn:hover{
    background:#1d4ed8;
}

/* ====================================== */
/* RESPONSIVE */
/* ====================================== */

@media(max-width:1200px){

    .cards{
        grid-template-columns:repeat(2,1fr);
    }

    .topbar{
        left:220px;
    }

    .search-box{
        width:240px;
    }

}

@media(max-width:992px){

    .topbar{
        left:72px;
    }

    .cards{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:768px){

    .topbar{
        left:0;
        padding:0 16px 0 72px;
    }

    .search-box{
        display:none;
    }

    .cards{
        grid-template-columns:repeat(2,1fr);
        gap:14px;
    }

    h1{
        font-size:22px;
    }

    .chart-header{
        flex-direction:column;
        align-items:flex-start;
        gap:10px;
    }

    .chart-header h3{
        font-size:18px;
    }

    .table-box{
        overflow-x:auto;
    }

    .t-head,
    .t-row{
        min-width:500px;
    }

    .header-actions{
        flex-wrap:wrap;
    }

}

@media(max-width:480px){

    .cards{
        grid-template-columns:1fr;
        gap:12px;
    }

    .card h2{
        font-size:22px;
    }

    .logout-modal-box{
        width:92vw;
    }

}

</style>



<!-- MAIN -->

<div class="main">

    <!-- CARDS -->

    <div class="cards">

        <div class="card">

            <div class="card-top">

                <small>TOTAL REVENUE</small>

                <span class="icon blue material-symbols-outlined">
                    payments
                </span>

            </div>

            <h2>₹{{ total_revenue }}</h2>

        </div>

        <div class="card">

            <div class="card-top">

                <small>TOTAL ORDERS</small>

                <span class="icon green material-symbols-outlined">
                    shopping_cart
                </span>

            </div>

            <h2>{{ total_orders }}</h2>

        </div>

        <div class="card">

            <div class="card-top">

                <small>ACTIVE USERS</small>

                <span class="icon purple material-symbols-outlined">
                    group
                </span>

            </div>

             <h2>{{ active_users }}</h2>

        </div>

        <div class="card">

            <div class="card-top">

                <small>PENDING ORDERS</small>

                <span class="icon red material-symbols-outlined">
                    pending
                </span>

            </div>

            <h2>{{ pending_orders }}</h2>

        </div>

    </div>

    <!-- SALES CHART -->

    <div class="chart-box">

        <div class="chart-header">

            <div>

                <h3>Sales Performance</h3>

                <p>Monthly sales revenue</p>

            </div>

        </div>
        <canvas id="salesChart"></canvas>

    </div>

    <!-- TRENDING PRODUCTS -->

    <div class="table-box">

        <div class="t-head">

            <span>PRODUCT</span>
            <span>CATEGORY</span>
            <span>SALES</span>
            <span>STATUS</span>

        </div>
<div class="t-row">

    <div class="product">

        {% if top_seller_product.variant.primary_image %}
            <img
                src="{{ top_seller_product.variant.primary_image }}"
                alt="{{ top_seller_product.product.product_name }}"
            >
        {% else %}
            <img src="{% static 'images/default.png' %}">
        {% endif %}

        <span>
            {{ top_seller_product.product.product_name }}
        </span>

    </div>

    <span>Product</span>

    <span>
        {{ top_seller_product.quantity }}
    </span>

    <span class="badge green">
        TOP SELLER
    </span>

</div>


<div class="t-row">

    <div class="product">

        {% if top_category.category_img %}

            <img
                src="{{ top_category.category_img.url }}"
                alt="{{ top_category.category_name }}"
            >

        {% else %}

            <img
                src="{% static 'images/default.png' %}"
            >

        {% endif %}

        <span>
            {{ top_category.category_name }}
        </span>

    </div>

    <span>Category</span>

    <span>
        {{ top_category.total_sales }}
    </span>

    <span class="badge orange">
        TOP CATEGORY
    </span>

</div>


<div class="t-row">

    <div class="product">

        {% if trending_product.variant.primary_image %}
            <img
                src="{{ trending_product.variant.primary_image }}"
                alt="{{ trending_product.product.product_name }}"
            >
        {% else %}
            <img src="{% static 'images/default.png' %}">
        {% endif %}

        <span>
            {{ trending_product.product.product_name }}
        </span>

    </div>

    <span>Product</span>

    <span>
        {{ trending_product.quantity }}
    </span>

    <span class="badge blue">
        TRENDING
    </span>

</div>


<div class="t-row">

    <div class="product">

        {% if popular_product.variant.primary_image %}
            <img
                src="{{ popular_product.variant.primary_image }}"
                alt="{{ popular_product.product.product_name }}"
            >
        {% else %}
            <img src="{% static 'images/default.png' %}">
        {% endif %}

        <span>
            {{ popular_product.product.product_name }}
        </span>

    </div>

    <span>Product</span>

    <span>
        {{ popular_product.quantity }}
    </span>

    <span class="badge purple">
        POPULAR
    </span>

</div>
<!-- LOGOUT MODAL -->

<div
    class="logout-modal"
    id="logoutModal"
>

    <div class="logout-modal-box">

        <!-- ICON -->

        <div class="logout-icon-wrap">

            <span class="material-symbols-outlined logout-icon">
                logout
            </span>

        </div>

        <!-- TEXT -->

        <h2>
            Are you sure you want to logout?
        </h2>

        <!-- BUTTONS -->

        <div class="logout-actions">

            <!-- CANCEL -->

            <button
                class="cancel-btn"
                id="closeLogoutModal"
            >

                Cancel

            </button>

            <!-- CONFIRM -->

            <a
                href="{% url 'admin_logout' %}"
                class="confirm-btn"
            >

                Confirm

            </a>

        </div>

    </div>

</div>
<script>

const logoutModal =
    document.getElementById(
        "logoutModal"
    )

const openLogoutModal =
    document.getElementById(
        "openLogoutModal"
    )

const closeLogoutModal =
    document.getElementById(
        "closeLogoutModal"
    )

/* OPEN */

openLogoutModal.addEventListener(
    "click",
    function(){

        logoutModal.classList.add(
            "show"
        )

    }
)

/* CLOSE */

closeLogoutModal.addEventListener(
    "click",
    function(){

        logoutModal.classList.remove(
            "show"
        )

    }
)

/* OUTSIDE CLICK */

logoutModal.addEventListener(
    "click",
    function(e){

        if(
            e.target === logoutModal
        ){

            logoutModal.classList.remove(
                "show"
            )

        }

    }
)

</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

const ctx =
document.getElementById(
    'salesChart'
);

new Chart(ctx, {

    type: 'bar',

    data: {

        labels:
            {{ month_labels|safe }},

        datasets: [{

            label: 'Revenue',

            data:
                {{ month_revenue|safe }},

            backgroundColor:
                '#2563eb',

            borderRadius: 10

        }]
    },

    options: {

        responsive: true,

        plugins: {

            legend: {
                display: false
            }

        },

        scales: {

            y: {

                beginAtZero: true

            }

        }

    }

});

</script>
{% endblock %}